body {
  margin: 0;
  background-color: #f0f0f0;
  text-align: center;
}

main{
  width: 592px;
  margin: 0 auto 72px;
}

img{
  width: 380px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

p, footer{
  font-size: 14px;
  line-height: 28px;
}

h1 span{
  font-weight: bold;
}
body {
  font-family: 'Open Sans', sans-serif;
}

span, a {
  color:#FF9900;
}

footer{
  text-align: center;
}
footer a {
  text-decoration: none;
}
#line {
  width: 568px;
  height: 0px;
  border: 1px solid rgba(145, 145, 145, 0.533);
  margin: 0 auto 8px;
}
.instagram {
  margin-right: 28px;
}
